In [48]:
# Import libraries
import pandas as pd
from datetime import datetime

In [49]:
# Create data
dates = pd.date_range(start="2025-03-20", end="2025-03-26")

# Define the row indices
trains = [
    "800101",
    "800102",
    "800103",
    "800104",
    "800105",
    "800106",
    "800107",
    "800108",
    "800109",
    "800110",
]

# Create a DataFrame with NaN values initially
schedule = pd.DataFrame(index=trains, columns=dates)

schedule

,2025-03-20,2025-03-21,2025-03-22,2025-03-23,2025-03-24,2025-03-25,2025-03-26
800101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800108,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800110,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
constraints = pd.DataFrame(index=trains, columns=dates)

# 2025-03-20
constraints.iloc[1, 0] = ["K1,DON"]
constraints.iloc[3, 0] = ["K2,DON"]
constraints.iloc[4, 0] = ["Exam,DON"]
constraints.iloc[6, 0] = ["Overhaul,DON"]
constraints.iloc[9, 0] = ["Exam,DON"]

# 2025-03-21
constraints.iloc[1, 1] = ["Repair,DON"]
constraints.iloc[3, 1] = ["K1,DON"]
constraints.iloc[4, 1] = ["Exam,DON"]

# 2025-03-22
constraints.iloc[3, 2] = ["K3,DON"]
constraints.iloc[4, 2] = ["Exam,DON"]
constraints.iloc[6, 2] = ["Repair,NEV"]

# 2025-03-23
constraints.iloc[1, 3] = ["K2,DON"]
constraints.iloc[3, 3] = ["K2,DON"]
constraints.iloc[4, 3] = ["Exam,DON"]

# 2025-03-24
constraints.iloc[0, 4] = ["Repair,DON"]
constraints.iloc[1, 4] = ["K1,DON"]
constraints.iloc[3, 4] = ["K1,DON"]
constraints.iloc[4, 4] = ["Exam,DON"]

# 2025-03-25
constraints.iloc[1, 5] = ["Repair,DON"]
constraints.iloc[2, 5] = ["Repair,DON", "K2,DON"]
constraints.iloc[3, 5] = ["Exam,DON"]
constraints.iloc[4, 5] = ["Exam,DON"]
constraints.iloc[6, 5] = ["K3,DON"]
constraints.iloc[7, 5] = ["K3,DON"]

# 2025-03-26
constraints.iloc[1, 6] = ["Repair,DON", "K1,DON"]
constraints.iloc[3, 6] = ["Exam,DON"]
constraints.iloc[4, 6] = ["Exam,DON"]
constraints.iloc[6, 6] = ["K2,DON"]
constraints.iloc[7, 6] = ["K2,DON"]


constraints

,2025-03-20,2025-03-21,2025-03-22,2025-03-23,2025-03-24,2025-03-25,2025-03-26
800101,NaN,NaN,NaN,NaN,"[Repair,DON]",NaN,NaN
800102,"[K1,DON]","[Repair,DON]",NaN,"[K2,DON]","[K1,DON]","[Repair,DON]","[Repair,DON, K1,DON]"
800103,NaN,NaN,NaN,NaN,NaN,"[Repair,DON, K2,DON]",NaN
800104,"[K2,DON]","[K1,DON]","[K3,DON]","[K2,DON]","[K1,DON]","[Exam,DON]","[Exam,DON]"
800105,"[Exam,DON]","[Exam,DON]","[Exam,DON]","[Exam,DON]","[Exam,DON]","[Exam,DON]","[Exam,DON]"
800106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800107,"[Overhaul,DON]",NaN,"[Repair,NEV]",NaN,NaN,"[K3,DON]","[K2,DON]"
800108,NaN,NaN,NaN,NaN,NaN,"[K3,DON]","[K2,DON]"
800109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800110,"[Exam,DON]",NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
trips = {
    datetime(2025, 3, 20): [
        ("DN801", "BGN", "CLH"),
        ("DN810", "DON", "DON"),
        ("DN806", "HEA", "NEV"),
        ("DN802", "DON", "HEA"),
        ("DN807-DN803", "CLH", "KGX"),
        ("DN805", "NEV", "INV"),
        ("DN804", "NEV", "CLH"),
    ],
    datetime(2025, 3, 21): [
        ("DN807-DN801", "CLH", "CLH"),
        ("DN805", "NEV", "INV"),
        ("DN806-DN809", "HEA", "DON"),
        ("DN801-DN807", "KGX", "NEV"),
        ("DN803", "DON", "NEV"),
        ("DN809-DN802", "INV", "BGN"),
        ("DN808", "CLH", "NEV"),
        ("DN802-DN806", "DON", "HEA"),
    ],
    datetime(2025, 3, 22): [
        ("DN807", "CLH", "DON"),
        ("DN803", "DON", "FMP"),
        ("DN809-DN808", "INV", "NEV"),
        ("DN802", "DON", "DON"),
        ("DN805-BN910", "NEV", "HEA"),
        ("DN801-DN802", "BGN", "CLH"),
        ("DN804-DN801", "NEV", "CRA"),
        ("DN806", "HEA", "CLH"),
    ],
    datetime(2025, 3, 23): [
        ("DN802", "DON", "DON"),
        ("DN801", "FMP", "CLH"),
        ("DN803", "NEV", "BGN"),
        ("DN804", "DON", "CLH"),
        ("DN805", "HEA", "INV"),
        ("DN810", "NEV", "NEV"),
        ("DN808", "CLH", "NEV"),
        ("DN806", "CRA", "NEV"),
        ("DN807", "CLH", "DON"),
    ],
    datetime(2025, 3, 24): [
        ("DN808-BN921", "CLH", "DON"),
        ("DN801", "BGN", "CLH"),
        ("DN807-DN809", "CLH", "DON"),
        ("DN809-DN808", "INV", "NEV"),
        ("DN804", "NEV", "CLH"),
        ("DN810", "NEV", "NEV"),
        ("DN805", "NEV", "INV"),
        ("DN803", "DON", "BGN"),
    ],
    datetime(2025, 3, 25): [
        ("DN803", "DON", "BGN"),
        ("DN807-DN801", "CLH", "CLH"),
        ("DN810", "NEV", "NEV"),
        ("DN808", "CLH", "NEV"),
        ("DN804", "NEV", "CLH"),
        ("DN810", "NEV", "NEV"),
        ("DN805", "NEV", "INV"),
        ("DN803", "DON", "BGN"),
    ],
    datetime(2025, 3, 26): [
        ("DN801", "BGN", "CLH"),
        ("DN807", "CLH", "NEV"),
        ("DN805", "NEV", "INV"),
        ("DN804", "NEV", "CLH"),
        ("DN808", "CLH", "NEV"),
        ("DN802", "DON", "HEA"),
        ("DN810", "NEV", "NEV"),
    ],
}

trips

{datetime.datetime(2025, 3, 20, 0, 0): [('DN801', 'BGN', 'CLH'),
  ('DN810', 'DON', 'DON'),
  ('DN806', 'HEA', 'NEV'),
  ('DN802', 'DON', 'HEA'),
  ('DN807-DN803', 'CLH', 'KGX'),
  ('DN805', 'NEV', 'INV'),
  ('DN804', 'NEV', 'CLH')],
 datetime.datetime(2025, 3, 21, 0, 0): [('DN807-DN801', 'CLH', 'CLH'),
  ('DN805', 'NEV', 'INV'),
  ('DN806-DN809', 'HEA', 'DON'),
  ('DN801-DN807', 'KGX', 'NEV'),
  ('DN803', 'DON', 'NEV'),
  ('DN809-DN802', 'INV', 'BGN'),
  ('DN808', 'CLH', 'NEV'),
  ('DN802-DN806', 'DON', 'HEA')],
 datetime.datetime(2025, 3, 22, 0, 0): [('DN807', 'CLH', 'DON'),
  ('DN803', 'DON', 'FMP'),
  ('DN809-DN808', 'INV', 'NEV'),
  ('DN802', 'DON', 'DON'),
  ('DN805-BN910', 'NEV', 'HEA'),
  ('DN801-DN802', 'BGN', 'CLH'),
  ('DN804-DN801', 'NEV', 'CRA'),
  ('DN806', 'HEA', 'CLH')],
 datetime.datetime(2025, 3, 23, 0, 0): [('DN802', 'DON', 'DON'),
  ('DN801', 'FMP', 'CLH'),
  ('DN803', 'NEV', 'BGN'),
  ('DN804', 'DON', 'CLH'),
  ('DN805', 'HEA', 'INV'),
  ('DN810', 'NEV', 'NEV'),
  ('DN808', 'CLH', 'NEV'),
  ('DN806', 'CRA', 'NEV'),
  ('DN807', 'CLH', 'DON')],
 datetime.datetime(2025, 3, 24, 0, 0): [('DN808-BN921', 'CLH', 'DON'),
  ('DN801', 'BGN', 'CLH'),
  ('DN807-DN809', 'CLH', 'DON'),
  ('DN809-DN808', 'INV', 'NEV'),
  ('DN804', 'NEV', 'CLH'),
  ('DN810', 'NEV', 'NEV'),
  ('DN805', 'NEV', 'INV'),
  ('DN803', 'DON', 'BGN')],
 datetime.datetime(2025, 3, 25, 0, 0): [('DN803', 'DON', 'BGN'),
  ('DN807-DN801', 'CLH', 'CLH'),
  ('DN810', 'NEV', 'NEV'),
  ('DN808', 'CLH', 'NEV'),
  ('DN804', 'NEV', 'CLH'),
  ('DN810', 'NEV', 'NEV'),
  ('DN805', 'NEV', 'INV'),
  ('DN803', 'DON', 'BGN')],
 datetime.datetime(2025, 3, 26, 0, 0): [('DN801', 'BGN', 'CLH'),
  ('DN807', 'CLH', 'NEV'),
  ('DN805', 'NEV', 'INV'),
  ('DN804', 'NEV', 'CLH'),
  ('DN808', 'CLH', 'NEV'),
  ('DN802', 'DON', 'HEA'),
  ('DN810', 'NEV', 'NEV')]}