# Orange brix Analysis

## Import libraries

In [167]:
# !pip install lightgbm
# !pip install xgboost

In [168]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from enum import Enum
from tqdm import tqdm

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score, mean_squared_error

import os

In [169]:
plt.style.use("fivethirtyeight")

## Settings

In [284]:
GENERATE_PLOTS: bool = False

TRAIN_MODEL_1 : bool = False
TRAIN_MODEL_2 : bool = False
TRAIN_MODEL_3 : bool = False
TRAIN_MODEL_4 : bool = False
TRAIN_MODEL_5 : bool = False

## Create Classes

In [171]:
class Utilities:
    def __init__(self):
        pass

    def get_categorical_numeric_cols(self, dataframe: pd.DataFrame):
        if len(dataframe) == 0:
            raise Exception("No records found!")

        numeric_cols = []
        categorical_cols = []

        for col in dataframe.columns:
            if isinstance(dataframe[col][0], bool) or not isinstance(
                dataframe[col][0], (int, float, np.int8, np.int16, np.int32, np.int64, np.float16, np.float32, np.float64)
            ):
                categorical_cols.append(col)
            else:
                numeric_cols.append(col)

        return (categorical_cols, numeric_cols)

In [172]:
from sklearn.preprocessing import (
    MaxAbsScaler,
    MinMaxScaler,
    Normalizer,
    RobustScaler,
    StandardScaler,
)


class ScalerType(Enum):
    Raw_ = None
    MaxAbsScaler_ = MaxAbsScaler
    MinMaxScaler_ = MinMaxScaler
    Normalizer_ = Normalizer
    RobustScaler_ = RobustScaler
    StandardScaler_ = StandardScaler

In [173]:
class Dataset(Utilities):
    def __init__(
        self,
        name: str,
        dataframe: pd.DataFrame,
        scaler_type: ScalerType = ScalerType.Raw_,
    ):
        self.name: str = name
        self.dataframe: pd.DataFrame = dataframe
        self.categorical_cols: list[str] = []
        self.numeric_cols: list[str] = []
        self.scaler_type: ScalerType = scaler_type

        self.categorical_cols, self.numeric_cols = self.get_categorical_numeric_cols(
            self.dataframe
        )

    def get_name(self) -> str:
        return self.name

    def get_dataframe(self) -> pd.DataFrame:
        return self.dataframe

    def detect_categorical_numeric_cols(self):
        if len(self.dataframe) == 0:
            raise Exception("No records found!")

        self.numeric_cols = []
        self.categorical_cols = []

        for col in self.dataframe.columns:
            try:
                float(self.dataframe[col][0])
                self.numeric_cols.append(col)
            except:
                self.categorical_cols.append(col)

    def get_numeric_cols(self) -> list[str]:
        return self.numeric_cols

    def get_numeric_dataframe(self) -> pd.DataFrame:
        return self.dataframe[self.numeric_cols]

    def get_categorical_dataframe(self) -> pd.DataFrame:
        return self.dataframe[self.categorical_cols]

    def get_scaler_type(self) -> ScalerType:
        return self.scaler_type

    def concat_dataframe(self, additional_dataframe: pd.DataFrame):
        if len(additional_dataframe) == len(self.dataframe):
            self.dataframe = pd.concat([self.dataframe, additional_dataframe], axis=1)
            self.detect_categorical_numeric_cols()

    def get_one_hot_vectorized_dataset(
        self, categorical_col: str, print_name: bool = True
    ):
        if categorical_col in self.categorical_cols:
            dummies_dataframe = pd.get_dummies(self.dataframe[categorical_col])
            dummies_dataframe = pd.concat([dummies_dataframe, self.dataframe], axis=1)
            new_dataset_name = self.name + "_ohv_" + categorical_col
            if print_name:
                print(new_dataset_name)
            return Dataset(
                name=new_dataset_name,
                dataframe=dummies_dataframe,
                scaler_type=self.scaler_type,
            )
        elif categorical_col in self.numeric_cols:
            print("Records for input column name are not categorical!")
        else:
            print("Input column name does not exists!")

In [174]:
class ModelType(Enum):
    LINEAR_REGRESSION: dict = {}
    SVR: dict = {
        "kernel": "rbf", # imp | linear, poly, rbf
        "degree": 3,
        "gamma": "scale",
        "coef0": 0,
        "tol": 1e-3,
        "C": 1.0, # imp tune from 0.1 - 2 step 0.1
        "epsilon": 0.1,
    }
    DECISION_TREE: dict = {
        "criterion": "squared_error",
        "splitter": "best",
        "max_depth": None, # imp tune 1 - number of feature
        "min_samples_split": 2,
        "min_samples_leaf": 1,
        "min_weight_fraction_leaf": 0.0,
        "max_features": None, # int 2->5 {“sqrt”, “log2”}, default=None

        "random_state": 42,
        "max_leaf_nodes": None,
        "min_impurity_decrease": 0,
    }
    RANDOM_FOREST: dict = {
        "n_estimators": 100, # int, 100-1000 (step 100)
        "criterion": "squared_error",
        "max_depth": None, # imp tune 1 - number of feature
        "min_samples_split": 2,
        "min_samples_leaf": 1,
        "min_weight_fraction_leaf": 0.0,
        "max_features": 1.0, # int 2->5 {“sqrt”, “log2”}, default=None
        "max_leaf_nodes": None,
        "min_impurity_decrease": 0.0,
    }
    LIGHT_GBM: dict = {
        "boosting_type": "gbdt",
        "num_leaves": 31,
        "max_depth": -1,
        "learning_rate": 0.1,
        "n_estimator": 100, # int, 100->1000 (step 100)
        "verbosity": -1,
    }
    XGB: dict = {
        "objective": "reg:linear",
        "n_estimators": 10, # int, 100-1000 (step 100)
        "seed": 123,
        "verbosity": 0,
    }

In [175]:
class Result:
    def __init__(
        self,
        dataset_name: str,
        model_name: str,
        model_type: ModelType,
        scaler_type: str,
        r2: float,
        mse: float,
    ):
        self.result = [dataset_name, model_name, model_type, scaler_type, r2, mse]

    def get_result(self):
        return self.result

In [176]:
class ResultFrame:
    def __init__(self):
        self.result_frame: pd.DataFrame = pd.DataFrame()
        self.count = 0

        self.start_up()

    def start_up(self):
        self.result_frame["dataset_name"] = []
        self.result_frame["model_name"] = []
        self.result_frame["model_type"] = []
        self.result_frame["scaler_type"] = []
        self.result_frame["r2"] = []
        self.result_frame["mse"] = []

    def add_result(self, new_result: Result):
        self.result_frame.loc[self.count] = new_result.result
        self.count += 1

    def display_result(self, display_rows: int = 30):
        self.result_frame.sort_values(["r2", "mse"], ascending=False, inplace=True)
        if display_rows < 0:
            display_rows = 30
        display(self.result_frame.head(display_rows))

    def save_result(self, filename, overwrite=False):
        if self.result_frame.shape[0] == 0:
            print("Result has no records!")
        else:
            file_exists = os.path.isfile(os.path.join(os.getcwd(), filename))
            if file_exists and not overwrite:
                print("Error: CANNOT SAVE FILE.")
                print("A file with the same name already exists.")
                print(
                    "Set overwrite to True to overwrite existed file or change file name!"
                )
            else:
                self.result_frame.to_excel(filename)

In [177]:
class Model(Utilities):
    def __init__(
        self,
        model_type: ModelType,
        model_name: str,
        dataset_name: str,
        x_cols: list[str],
        y_cols: list[str],
        dataset: Dataset,
        scaler_type: ScalerType = ScalerType.Raw_,
    ):

        if len(x_cols) == 0 or len(y_cols) == 0:
            raise Exception("Data columns are not specified!")

        self.model_type: ModelType = model_type
        self.name: str = model_name
        self.dataset_name: str = dataset_name
        self.scaler_type: ScalerType = scaler_type
        self.scaler = self.get_scaler(self.scaler_type)  # could be None
        self.x_dataset: Dataset = None
        self.y_dataset: Dataset = None
        self.inner_model = None

        self.preprocess_data(x_cols, y_cols, dataset)

    # Extract data from x_cols and y_cols
    # Redetect categorical and numeric columns
    def preprocess_data(self, x_cols: list[str], y_cols: list[str], dataset: Dataset):
        x_dataset_new_name = dataset.get_name() + "_x"
        y_dataset_new_name = dataset.get_name() + "_y"
        scaler_type = dataset.get_scaler_type()
        self.x_dataset = Dataset(
            name=x_dataset_new_name,
            dataframe=dataset.get_dataframe()[x_cols],
            scaler_type=scaler_type,
        )
        self.y_dataset = Dataset(
            name=y_dataset_new_name,
            dataframe=dataset.get_dataframe()[y_cols],
            scaler_type=scaler_type,
        )

        self.process_x_dataset()

    # arrange [numeric_cols, categorical_cols]
    def process_x_dataset(self):
        new_name = self.x_dataset.get_name()
        numeric_dataframe = self.x_dataset.get_numeric_dataframe()
        categorical_dataframe = self.x_dataset.get_categorical_dataframe()
        scaler_type = self.x_dataset.get_scaler_type()
        self.x_dataset = Dataset(
            name=new_name,
            dataframe=pd.concat([numeric_dataframe, categorical_dataframe], axis=1),
            scaler_type=scaler_type,
        )

    def get_x_list_index_numeric_cols(self):
        return list(range(len(self.x_dataset.get_numeric_cols())))

    def fit_scaler_and_scale_dataframe(self, X: pd.DataFrame) -> pd.DataFrame:
        if self.scaler is not None:
            list_index = self.get_x_list_index_numeric_cols()
            X_numeric = X[:, list_index]
            X_categorical = X[:, len(list_index) :].astype(int)
            self.scaler.fit(X_numeric)
            transformed_X = self.scaler.transform(X_numeric)
            transformed_X = np.concatenate([transformed_X, X_categorical], axis=1)
        else:
            transformed_X = X

        return transformed_X

    def get_x_dataframe(self):
        return self.x_dataset.get_dataframe()

    def get_y_dataframe(self):
        return self.y_dataset.get_dataframe()

    def get_scaler(self, scaler_type: ScalerType):
        if scaler_type != ScalerType.Raw_:
            return scaler_type.value()

    def fit(self, X=None, Y=None):
        if X is None:
            X = np.array(self.x_dataset.get_dataframe())
            Y = np.array(self.y_dataset.get_dataframe())

        model_family = self.model_type.__str__().split(".")[-1]
        params = self.model_type.value

        Y = np.squeeze(Y)

        # need to scale
        transformed_X = self.fit_scaler_and_scale_dataframe(X)

        if model_family == "SVR":
            self.model = SVR(**params).fit(transformed_X, Y)
        elif model_family == "LINEAR_REGRESSION":
            self.model = LinearRegression(**params).fit(transformed_X, Y)
        elif model_family == "DECISION_TREE":
            self.model = DecisionTreeRegressor(**params).fit(transformed_X, Y)
        elif model_family == "RANDOM_FOREST":
            self.model = RandomForestRegressor(**params).fit(transformed_X, Y)
        elif model_family == "LIGHT_GBM":
            self.model = LGBMRegressor(**params).fit(transformed_X, Y)
        elif model_family == "XGB":
            self.model = XGBRegressor(**params).fit(transformed_X, Y)
        else:
            raise ValueError("Unknown model family!")

    def predict(self, X):
        if self.scaler is not None:
            list_index = self.get_x_list_index_numeric_cols()
            X_numeric = X[:, list_index]
            X_categorical = X[:, len(list_index) :].astype(int)
            transformed_X = self.scaler.transform(X_numeric)
            transformed_X = np.concatenate([transformed_X, X_categorical], axis=1)
        else:
            transformed_X = X
        return self.model.predict(transformed_X)

    def evaluate(self, X=None, Y=None, method="LOOCV"):
        if X is None:
            X = np.array(self.x_dataset.get_dataframe())
            Y = np.array(self.y_dataset.get_dataframe())
        if method == "LOOCV":
            preds = [0] * len(Y)
            total = len(Y)
            kf = KFold(n_splits=total)
            kf.get_n_splits(Y)

        with tqdm(total=total) as pbar:
            for i, (train_index, valid_index) in enumerate(kf.split(X, Y)):
                X_train = X[train_index]
                Y_train = Y[train_index]
                X_valid = X[valid_index]
                Y_valid = Y[valid_index]
                self.fit(X_train, Y_train)

                Y_valid_pred = self.predict(X_valid)
                for j in range(len(valid_index)):
                    index = valid_index[j]
                    value = Y_valid_pred[j]
                    preds[index] = value
                pbar.update(1)

        r2 = r2_score(Y, preds)
        mse = mean_squared_error(Y, preds)

        # Compile result
        return Result(
            dataset_name=self.dataset_name,
            model_name=self.name,
            model_type=self.model_type,
            scaler_type=self.scaler_type,
            r2=r2,
            mse=mse,
        )

    def save(self, filename: str):
        pass

    def load(self, filename: str):
        pass

    def set_params(self, params: dict):
        pass

## Create main variables

In [178]:
list_dataset: dict[str, Dataset] = dict()
list_model: dict = dict()
result_frame: ResultFrame = ResultFrame()
model_count = 1

## Create functions

In [179]:
def list_all_dataset_names():
    return list_dataset.keys()

In [180]:
def list_all_model_names():
    return list_model.keys()

In [181]:
def plot_along_dataset(
    dataset: Dataset,
    nrow_subplot: int,
    ncol_subplot: int,
    figsize: tuple[int, int],
):
    numeric_df = dataset.get_dataframe()[dataset.numeric_cols]
    x = np.arange(len(numeric_df))
    figs, axes = plt.subplots(nrow_subplot, ncol_subplot, figsize=figsize)
    for i in range(nrow_subplot):
        for j in range(ncol_subplot):
            ax = axes[i][j]
            index = i * ncol_subplot + j
            ax.plot(x, numeric_df.iloc[:, index])
            ax.set_title(f"{numeric_df.columns[index]} along dataframe", size=15)
            ax.xaxis.set_tick_params(labelsize=12)
            ax.xaxis.set_ticks(np.arange(0, len(numeric_df), 10))
            ax.yaxis.set_tick_params(labelsize=12)

In [182]:
def plot_hist_kde_box_all_columns(dataset: Dataset):

    number_of_numeric_col = len(dataset.numeric_cols)
    figs, axes = plt.subplots(
        number_of_numeric_col, 3, figsize=(30, number_of_numeric_col * 10)
    )

    numeric_dataframe = dataset.get_dataframe()[dataset.numeric_cols]

    for i in range(number_of_numeric_col):
        axes[i][0].set_title(f"{numeric_dataframe.columns[i]} histogram", size=20)
        axes[i][0].yaxis.set_tick_params(labelsize=15)
        axes[i][0].xaxis.set_tick_params(labelsize=15)
        sns.histplot(ax=axes[i][0], data=numeric_dataframe.iloc[:, i])

        axes[i][1].set_title(f"{numeric_dataframe.columns[i]} KDE", size=20)
        axes[i][1].xaxis.set_tick_params(labelsize=15)
        axes[i][1].yaxis.set_tick_params(labelsize=15)
        sns.kdeplot(ax=axes[i][1], data=numeric_dataframe.iloc[:, i])

        axes[i][2].set_title(f"{numeric_dataframe.columns[i]} Boxplot", size=20)
        axes[i][2].xaxis.set_tick_params(labelsize=15)
        axes[i][2].yaxis.set_tick_params(labelsize=15)
        sns.boxplot(ax=axes[i][2], data=numeric_dataframe.iloc[:, i])

In [183]:
def plot_all_columns_group_by_a_categorical_col(dataset: Dataset, categorical_col: str):

    dataframe = dataset.get_dataframe()
    numeric_dataframe = dataframe[dataset.numeric_cols]
    number_of_numeric_col = len(dataset.numeric_cols)
    figs, axes = plt.subplots(
        number_of_numeric_col, 2, figsize=(20, number_of_numeric_col * 10)
    )
    groups = dataframe[categorical_col].unique()

    for i in range(number_of_numeric_col):
        axes[i][0].set_title(f"{numeric_dataframe.columns[i]} KDE", size=20)
        axes[i][0].xaxis.set_tick_params(labelsize=15)
        axes[i][0].yaxis.set_tick_params(labelsize=15)
        for group in groups:
            sns.kdeplot(
                ax=axes[i][0],
                data=numeric_dataframe[dataframe[categorical_col] == group].iloc[:, i],
                label=f"Type {group}",
            )
        axes[i][0].legend()

        axes[i][1].set_title(f"{numeric_dataframe.columns[i]} Boxplot", size=20)
        axes[i][1].xaxis.set_tick_params(labelsize=15)
        axes[i][1].yaxis.set_tick_params(labelsize=15)
        sns.boxplot(
            ax=axes[i][1],
            hue="type",
            y=numeric_dataframe.columns[i],
            data=dataframe,
        )

In [184]:
def divide_dataframe_with_categorical_col(
    dataset: Dataset, categorical_col: str
) -> dict[str, pd.DataFrame]:
    dataframe = dataset.get_dataframe()
    groups = dataframe[categorical_col].unique()

    result = {}
    for group in groups:
        result[group] = dataframe[dataframe[categorical_col] == group]

    return result

In [185]:
# def calculate_p_values_between_partitions(dataframes, columns_to_compare):
#     p_values = {}
#     for key1, df1 in dataframes.items():
#         for key2, df2 in dataframes.items():
#             if key1 != key2:
#                 for col in columns_to_compare:
#                     if col in df1 and col in df2:
#                         t_stat, p_val = stats.ttest_ind(df1[col], df2[col])
#                         p_values[f"{col}_{key1}-{col}_{key2}"] = p_val
#     return p_values

In [186]:
# import statsmodels.api as sm
# from sklearn.metrics import mean_squared_error
# from typing import Optional, Callable


# def summary_linear_model(x: list, y, dataset, transformer: Optional[Callable] = None):
#     x_ = sm.add_constant(dataset[x])
#     y_ = dataset[y]
#     results = sm.OLS(y_, x_).fit()
#     Intercept = results.params.iloc[0]
#     Slope = results.params.iloc[1:]
#     P_values = results.pvalues[1:]
#     R_squared = results.rsquared
#     MSE = mean_squared_error(y_, results.predict())
#     print("Intercept\n", Intercept, end="\n\n")
#     print("Slope\n", Slope, end="\n\n")
#     print("P_values\n", P_values, end="\n\n")
#     print("R_squared\n", R_squared, end="\n\n")
#     print("MSE\n", MSE, end="\n\n")
#     return {
#         "Intercept": Intercept,
#         "Slope": Slope,
#         "P_values": P_values,
#         "R_squared": R_squared,
#         "MSE": MSE,
#     }

In [187]:
# intercept_a = model_no_scale["Slope"]["A"] + model_no_scale["Intercept"]
# intercept_b = model_no_scale["Slope"]["B"] + model_no_scale["Intercept"]
# intercept_c = model_no_scale["Slope"]["C"] + model_no_scale["Intercept"]

# x = np.arange(model_dataset["mass"].min(), model_dataset["mass"].max())
# ya = x * model_no_scale["Slope"]["mass"] + intercept_a
# yb = x * model_no_scale["Slope"]["mass"] + intercept_b
# yc = x * model_no_scale["Slope"]["mass"] + intercept_c
# plt.plot(x, ya, linewidth=2, label="type_A")
# plt.plot(x, yb, linewidth=2, label="type_B")
# plt.plot(x, yc, linewidth=2, label="type_C")
# plt.legend()

## Import data

In [188]:
raw_df = pd.read_excel("orange_data.xlsx", sheet_name=0)

In [189]:
raw_df.head(10)

,Name,p,C NaOH,Khối lượng(g),Đường kính ngang(mm),Đường kính dọc(mm),Độ đường (Brix %),TA (%),Brix:TA,BrmTA
0,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859
1,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016
2,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197
3,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923
4,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016
5,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286
6,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693
7,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110
8,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458
9,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748

In [190]:
raw_df.columns

Index(['Name', 'p', 'C NaOH', 'Khối lượng(g)', 'Đường kính ngang(mm)',
       'Đường kính dọc(mm)', 'Độ đường (Brix %)', 'TA (%)', 'Brix:TA',
       'BrmTA'],
      dtype='object')

In [191]:
raw_df.shape

(81, 10)

In [192]:
new_column_names = {
    "Name": "name",
    "p": "v_naoh",
    "C NaOH": "c_naoh",
    "Khối lượng(g)": "mass",
    "Đường kính ngang(mm)": "h_diameter",
    "Đường kính dọc(mm)": "v_diameter",
    "Độ đường (Brix %)": "brix",
    "TA (%)": "ta",
    "Brix:TA": "brix_ta",
    "BrmTA": "brm_ta",
}

std_col_name_df = raw_df.rename(columns=new_column_names)

In [193]:
std_col_name_df.head(10)

,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta
0,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859
1,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016
2,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197
3,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923
4,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016
5,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286
6,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693
7,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110
8,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458
9,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748

In [194]:
std_col_name_dataset = Dataset("orange_std_col_name", std_col_name_df, ScalerType.Raw_)

In [195]:
print(std_col_name_dataset.categorical_cols)
print(std_col_name_dataset.numeric_cols)
std_col_name_dataset.dataframe

['name']
['v_naoh', 'c_naoh', 'mass', 'h_diameter', 'v_diameter', 'brix', 'ta', 'brix_ta', 'brm_ta']

,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta
0,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859
1,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016
2,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197
3,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923
4,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016
...,...,...,...,...,...,...,...,...,...,...
76,C24,1.60,0.4016,177,225,216,12.5,4.115040,3.037638,8.384960
77,C25,1.60,0.4016,173,216,220,11.1,4.115040,2.697422,6.984960
78,C26,0.95,0.4016,126,195,197,12.8,2.443305,5.238806,10.356695
79,C28,1.70,0.4016,181,216,232,11.8,4.372230,2.698852,7.427770
80,C29,1.35,0.4230,166,214,214,12.3,3.657080,3.363339,8.642920

In [196]:
list_dataset["orange_std_col_name"] = std_col_name_dataset

In [197]:
list_dataset["orange_std_col_name"].get_dataframe().head(10)

,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta
0,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859
1,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016
2,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197
3,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923
4,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016
5,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286
6,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693
7,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110
8,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458
9,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748

In [198]:
if GENERATE_PLOTS:
    plot_along_dataset(list_dataset["std_col_name"], 3, 3, (12, 12))

#### From the shape of lines in graph "mass", "h_diameter", "v_diameter" and "brix", we can see the lines could be divided into 3 levels along dataset. We assume that there are 3 types of data in the dataset. We could double check the name / label of dataset.

In [199]:
list_dataset["orange_std_col_name"].get_dataframe().columns

Index(['name', 'v_naoh', 'c_naoh', 'mass', 'h_diameter', 'v_diameter', 'brix',
       'ta', 'brix_ta', 'brm_ta'],
      dtype='object')

In [200]:
print(list_dataset["orange_std_col_name"].get_dataframe()["name"].to_list())

['A1', 'A2', 'A3', 'A4', 'A5', 'A7', 'A8', 'A9', 'A10', 'A11', 'A13', 'A14', 'A15', 'A16', 'A17', 'A18', 'A19', 'A20', 'A21', 'A24', 'A25', 'A26', 'A27', 'A28', 'A29', 'A30', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'B13', 'B14', 'B15', 'B16', 'B17', 'B18', 'B19', 'B20', 'B21', 'B22', 'B23', 'B24', 'B25', 'B26', 'B27', 'B28', 'B29', 'B30', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C8', 'C9', 'C10', 'C11', 'C12', 'C14', 'C15', 'C16', 'C17', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C28', 'C29']

We count the number of type to see whether the amount is equivalent to the shape of lines in the following graphs: "mass", "h_diameter", "v_diameter" and "brix"

In [201]:
import re

data_type = []
for name in list_dataset["orange_std_col_name"].get_dataframe()["name"].str.upper():
    data_type.append(re.findall("[A-Z]", name)[0])

data_type = pd.DataFrame(data_type, columns=["type"])
data_type["count"] = 1
data_type.groupby(["type"]).count()["count"]

type
A    26
B    30
C    25
Name: count, dtype: int64

In [202]:
list_dataset["orange_std_col_name"].concat_dataframe(data_type["type"])

In [203]:
list_dataset["orange_std_col_name"].get_dataframe().head(10)

,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta,type
0,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859,A
1,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016,A
2,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197,A
3,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923,A
4,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016,A
5,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286,A
6,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693,A
7,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110,A
8,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458,A
9,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748,A

## Analyze quantitative data

### Plots for all rows

In [204]:
if GENERATE_PLOTS:
    plot_hist_kde_box_all_columns(list_dataset["orange_std_col_name"])

In [205]:
list_dataset["orange_std_col_name"].get_dataframe().describe()

,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,1.477778,0.406857,222.197531,241.777778,241.358025,11.169259,3.849815,3.024935,7.319445
std,0.297069,0.007092,50.582215,23.652167,22.587225,1.362702,0.774895,0.786520,1.587514
min,0.800000,0.400000,126.000000,195.000000,197.000000,7.400000,2.057520,1.795715,4.076693
25%,1.300000,0.401600,179.000000,222.000000,223.000000,10.400000,3.370111,2.512846,6.148368
50%,1.400000,0.404800,228.000000,242.000000,242.000000,11.100000,3.701077,2.920633,7.332125
75%,1.600000,0.408200,255.000000,257.000000,255.000000,12.300000,4.229802,3.371688,8.199505
max,2.300000,0.423000,357.000000,305.000000,290.000000,14.000000,5.891803,6.609899,11.542480

In [206]:
if GENERATE_PLOTS:
    plot_all_columns_group_by_a_categorical_col(list_dataset["orange_std_col_name"], "type")

#### From above plots, we see that "mass", "h_diameter", "v_diameter" and "brm_ta" plots have clearly patterns corresponding with types.

## Analyze qualitative data

In [207]:
# partitions_dataframe = divide_dataframe_with_categorical_col(list_dataset["orange_std_col_name"], "type")

### Use Welch's t-test to see whether the data could be divided into 3 parts A, B, and C.

In [208]:
# for group in partitions_dataframe.keys():
#     print(f"{group}: {partitions_dataframe[group].shape}")

In [209]:
# partitions_dataframe["A"].head(10)

In [210]:
# columns_to_compare = ["mass", "h_diameter", "v_diameter"]

In [211]:
# calculate_p_values_between_partitions(partitions_dataframe, columns_to_compare)

### All p-values smaller than $ \alpha $ = 0.05
### => Conclusion from Welch's t-test: The dataset could be divided into 3 parts A, B and C

## Matrix plots

### Pairplots

In [212]:
if GENERATE_PLOTS:
    plt.figure(figsize=(16, 16))
    sns.pairplot(list_dataset["orange_std_col_name"].get_dataframe())

#### Some potential features to explain brix are "mass", "h_diameter", "v_diameter", "brix_ta", "brm_ta".

### Heatmap

In [213]:
if GENERATE_PLOTS:
    plt.figure(figsize=(12, 12))
    dataframe = list_dataset["orange_std_col_name"].get_dataframe()
    numeric_cols = list_dataset["orange_std_col_name"].numeric_cols
    dataset_corr = dataframe[numeric_cols].corr()
    sns.heatmap(dataset_corr, annot=True)

#### => Some features that could be used for model: **mass, h_diameter, v_diameter, brix_ta, brm_ta** (quantitative) and **type** (qualitative) to explain **brix**. However, **brix_ta** and **brm_ta** are directly related to **brix**, then they will not be considered.

## Build Models

### Create "ohv_std_col_name" dataframe: ["brix", "mass", "h_diameter", "v_diameter", one-hot-vector-of-type]

In [214]:
ohv_dataset = list_dataset["orange_std_col_name"].get_one_hot_vectorized_dataset("type")
list_dataset["orange_std_col_name_ohv_type"] = ohv_dataset
list_dataset["orange_std_col_name_ohv_type"].get_dataframe().head(10)

orange_std_col_name_ohv_type

,A,B,C,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta,type
0,True,False,False,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859,A
1,True,False,False,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016,A
2,True,False,False,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197,A
3,True,False,False,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923,A
4,True,False,False,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016,A
5,True,False,False,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286,A
6,True,False,False,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693,A
7,True,False,False,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110,A
8,True,False,False,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458,A
9,True,False,False,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748,A

In [215]:
y_cols = ["brix"]
y_variable = list_dataset["orange_std_col_name_ohv_type"].get_dataframe()[y_cols]
y_variable.head(10)

   brix
0  10.9
1   9.8
2  11.0
3   9.0
4  10.9
5  10.7
6  11.2
7   9.2
8   9.5
9  10.5

In [216]:
x_cols = ["mass", "h_diameter", "v_diameter", "B", "C"]
x_variable = list_dataset["orange_std_col_name_ohv_type"].get_dataframe()[x_cols]
x_variable.head(10)

   mass  h_diameter  v_diameter      B      C
0   255         257         262  False  False
1   325         288         278  False  False
2   185         235         237  False  False
3   203         245         245  False  False
4   229         253         249  False  False
5   357         305         290  False  False
6   309         275         285  False  False
7   321         285         280  False  False
8   245         255         259  False  False
9   275         267         270  False  False

### Linear regression models

#### Model train 1: brix $ \sim \beta_0 $ + $ \beta_1 $ * type_a + $ \beta_2 $ * type_b + $ \beta_3 $ * type_c + $ \beta_4 $ * h.diameter + $ \beta_5 $ * v.diameter + $ \beta_6 $ * mass

working

In [217]:
list_dataset.keys()

dict_keys(['orange_std_col_name', 'orange_std_col_name_ohv_type'])

In [218]:
std_dataset_names = ["orange_std_col_name_ohv_type"]

In [219]:
if TRAIN_MODEL_1:

    for dataset_name in std_dataset_names:
        for model_type in ModelType:
            for scaler_type in ScalerType:
                model = Model(
                    model_type=model_type,
                    model_name="model_" + str(model_count),
                    dataset_name="orange_std_col_name_ohv_type",
                    x_cols=x_cols,
                    y_cols=y_cols,
                    dataset=list_dataset[dataset_name],
                    scaler_type=scaler_type,
                )

                result_frame.add_result(model.evaluate())
                model_count += 1

    result_frame.display_result()

100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 670.59it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 1089.23it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 489.76it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 528.22it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 358.64it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 519.58it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 492.47it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 471.47it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 597.64it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 564.50it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 376.54it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 524.84it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 877.54it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 452.23it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 674.41it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 608.03it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 288.39it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 479.90it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.16it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.33it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:14<00:00,  5.42it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.37it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.39it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.31it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 30.69it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 31.53it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 31.45it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:03<00:00, 26.81it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 30.34it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 31.85it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 48.43it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 49.76it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 45.61it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 39.78it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 44.29it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 43.69it/s]

,dataset_name,model_name,model_type,scaler_type,r2,mse
0,orange_std_col_name_ohv_type,model_1,ModelType.LINEAR_REGRESSION,ScalerType.Raw_,0.329090,1.230471
1,orange_std_col_name_ohv_type,model_2,ModelType.LINEAR_REGRESSION,ScalerType.MaxAbsScaler_,0.329090,1.230471
2,orange_std_col_name_ohv_type,model_3,ModelType.LINEAR_REGRESSION,ScalerType.MinMaxScaler_,0.329090,1.230471
4,orange_std_col_name_ohv_type,model_5,ModelType.LINEAR_REGRESSION,ScalerType.RobustScaler_,0.329090,1.230471
5,orange_std_col_name_ohv_type,model_6,ModelType.LINEAR_REGRESSION,ScalerType.StandardScaler_,0.329090,1.230471
9,orange_std_col_name_ohv_type,model_10,ModelType.SVR,ScalerType.Normalizer_,0.309389,1.266603
7,orange_std_col_name_ohv_type,model_8,ModelType.SVR,ScalerType.MaxAbsScaler_,0.295081,1.292844
8,orange_std_col_name_ohv_type,model_9,ModelType.SVR,ScalerType.MinMaxScaler_,0.286888,1.307869
3,orange_std_col_name_ohv_type,model_4,ModelType.LINEAR_REGRESSION,ScalerType.Normalizer_,0.277361,1.325342
11,orange_std_col_name_ohv_type,model_12,ModelType.SVR,ScalerType.StandardScaler_,0.277135,1.325757
10,orange_std_col_name_ohv_type,model_11,ModelType.SVR,ScalerType.RobustScaler_,0.274043,1.331428
24,orange_std_col_name_ohv_type,model_25,ModelType.LIGHT_GBM,ScalerType.Raw_,0.254704,1.366896
25,orange_std_col_name_ohv_type,model_26,ModelType.LIGHT_GBM,ScalerType.MaxAbsScaler_,0.254704,1.366896
26,orange_std_col_name_ohv_type,model_27,ModelType.LIGHT_GBM,ScalerType.MinMaxScaler_,0.254704,1.366896
29,orange_std_col_name_ohv_type,model_30,ModelType.LIGHT_GBM,ScalerType.StandardScaler_,0.254547,1.367184
28,orange_std_col_name_ohv_type,model_29,ModelType.LIGHT_GBM,ScalerType.RobustScaler_,0.252976,1.370065
27,orange_std_col_name_ohv_type,model_28,ModelType.LIGHT_GBM,ScalerType.Normalizer_,0.211739,1.445696
6,orange_std_col_name_ohv_type,model_7,ModelType.SVR,ScalerType.Raw_,0.206860,1.454643
18,orange_std_col_name_ohv_type,model_19,ModelType.RANDOM_FOREST,ScalerType.Raw_,0.055691,1.731892
20,orange_std_col_name_ohv_type,model_21,ModelType.RANDOM_FOREST,ScalerType.MinMaxScaler_,0.038213,1.763948
19,orange_std_col_name_ohv_type,model_20,ModelType.RANDOM_FOREST,ScalerType.MaxAbsScaler_,0.028155,1.782395
23,orange_std_col_name_ohv_type,model_24,ModelType.RANDOM_FOREST,ScalerType.StandardScaler_,0.016369,1.804010
22,orange_std_col_name_ohv_type,model_23,ModelType.RANDOM_FOREST,ScalerType.RobustScaler_,0.014563,1.807323
21,orange_std_col_name_ohv_type,model_22,ModelType.RANDOM_FOREST,ScalerType.Normalizer_,-0.009272,1.851037
33,orange_std_col_name_ohv_type,model_34,ModelType.XGB,ScalerType.Normalizer_,-0.022992,1.876200
30,orange_std_col_name_ohv_type,model_31,ModelType.XGB,ScalerType.Raw_,-0.133168,2.078266
31,orange_std_col_name_ohv_type,model_32,ModelType.XGB,ScalerType.MaxAbsScaler_,-0.133168,2.078266
32,orange_std_col_name_ohv_type,model_33,ModelType.XGB,ScalerType.MinMaxScaler_,-0.133168,2.078266
34,orange_std_col_name_ohv_type,model_35,ModelType.XGB,ScalerType.RobustScaler_,-0.133168,2.078266
35,orange_std_col_name_ohv_type,model_36,ModelType.XGB,ScalerType.StandardScaler_,-0.133168,2.078266

In [220]:
result_frame.save_result("result_with_type.xlsx")

Error: CANNOT SAVE FILE.
A file with the same name already exists.
Set overwrite to True to overwrite existed file or change file name!

In [221]:
list_dataset.keys()

dict_keys(['orange_std_col_name', 'orange_std_col_name_ohv_type'])

In [222]:
list_dataset["orange_std_col_name_ohv_type"].get_dataframe()

,A,B,C,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta,type
0,True,False,False,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859,A
1,True,False,False,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016,A
2,True,False,False,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197,A
3,True,False,False,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923,A
4,True,False,False,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,False,False,True,C24,1.60,0.4016,177,225,216,12.5,4.115040,3.037638,8.384960,C
77,False,False,True,C25,1.60,0.4016,173,216,220,11.1,4.115040,2.697422,6.984960,C
78,False,False,True,C26,0.95,0.4016,126,195,197,12.8,2.443305,5.238806,10.356695,C
79,False,False,True,C28,1.70,0.4016,181,216,232,11.8,4.372230,2.698852,7.427770,C
80,False,False,True,C29,1.35,0.4230,166,214,214,12.3,3.657080,3.363339,8.642920,C

In [223]:
x_cols

['mass', 'h_diameter', 'v_diameter', 'B', 'C']

In [224]:
x_cols_no_type = x_cols[:-2]
x_cols_no_type

['mass', 'h_diameter', 'v_diameter']

In [225]:
y_cols

['brix']

In [226]:
list_dataset.keys()

dict_keys(['orange_std_col_name', 'orange_std_col_name_ohv_type'])

In [227]:
list_dataset["orange_std_col_name_ohv_type"].get_dataframe().head(10)

,A,B,C,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta,type
0,True,False,False,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859,A
1,True,False,False,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016,A
2,True,False,False,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197,A
3,True,False,False,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923,A
4,True,False,False,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016,A
5,True,False,False,A7,1.30,0.4128,357,305,290,10.7,3.436714,3.113439,7.263286,A
6,True,False,False,A8,2.00,0.4000,309,275,285,11.2,5.123307,2.186088,6.076693,A
7,True,False,False,A9,1.90,0.4128,321,285,280,9.2,5.022890,1.831615,4.177110,A
8,True,False,False,A10,1.45,0.4082,245,255,259,9.5,3.790542,2.506238,5.709458,A
9,True,False,False,A11,2.00,0.4128,275,267,270,10.5,5.287252,1.985909,5.212748,A

In [228]:
x_cols_no_type

['mass', 'h_diameter', 'v_diameter']

In [229]:
y_cols

['brix']

#### Model train 2: brix $ \sim \beta_0 $ + $ \beta_1 $ * h.diameter + $ \beta_2 $ * v.diameter + $ \beta_3 $ * mass

In [230]:
if TRAIN_MODEL_2:

    for dataset_name in std_dataset_names:
        for model_type in ModelType:
            for scaler_type in ScalerType:
                model = Model(
                    model_type=model_type,
                    model_name="model_" + str(model_count),
                    dataset_name="orange_std_col_name_no_type",
                    x_cols=x_cols_no_type,
                    y_cols=y_cols,
                    dataset=list_dataset[dataset_name],
                    scaler_type=scaler_type,
                )

                result_frame.add_result(model.evaluate())
                model_count += 1

    result_frame.display_result()

100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 802.91it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 558.42it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 534.84it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 570.49it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 333.81it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 531.89it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 741.27it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 546.09it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 1081.62it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 836.04it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 268.62it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 460.20it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 816.70it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 584.72it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 566.63it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 479.47it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 300.13it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 81/81 [00:00<00:00, 569.13it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.12it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.18it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.23it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.21it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.31it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:15<00:00,  5.25it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 35.10it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:03<00:00, 20.51it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 31.55it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 34.42it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 31.37it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:02<00:00, 33.61it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 55.72it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 53.69it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 54.81it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 54.13it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 42.95it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:01<00:00, 55.74it/s]

,dataset_name,model_name,model_type,scaler_type,r2,mse
0,orange_std_col_name_ohv_type,model_1,ModelType.LINEAR_REGRESSION,ScalerType.Raw_,0.329090,1.230471
1,orange_std_col_name_ohv_type,model_2,ModelType.LINEAR_REGRESSION,ScalerType.MaxAbsScaler_,0.329090,1.230471
2,orange_std_col_name_ohv_type,model_3,ModelType.LINEAR_REGRESSION,ScalerType.MinMaxScaler_,0.329090,1.230471
4,orange_std_col_name_ohv_type,model_5,ModelType.LINEAR_REGRESSION,ScalerType.RobustScaler_,0.329090,1.230471
5,orange_std_col_name_ohv_type,model_6,ModelType.LINEAR_REGRESSION,ScalerType.StandardScaler_,0.329090,1.230471
36,orange_std_col_name_no_type,model_37,ModelType.LINEAR_REGRESSION,ScalerType.Raw_,0.317596,1.251551
38,orange_std_col_name_no_type,model_39,ModelType.LINEAR_REGRESSION,ScalerType.MinMaxScaler_,0.317596,1.251551
37,orange_std_col_name_no_type,model_38,ModelType.LINEAR_REGRESSION,ScalerType.MaxAbsScaler_,0.317596,1.251551
40,orange_std_col_name_no_type,model_41,ModelType.LINEAR_REGRESSION,ScalerType.RobustScaler_,0.317596,1.251551
41,orange_std_col_name_no_type,model_42,ModelType.LINEAR_REGRESSION,ScalerType.StandardScaler_,0.317596,1.251551
9,orange_std_col_name_ohv_type,model_10,ModelType.SVR,ScalerType.Normalizer_,0.309389,1.266603
7,orange_std_col_name_ohv_type,model_8,ModelType.SVR,ScalerType.MaxAbsScaler_,0.295081,1.292844
8,orange_std_col_name_ohv_type,model_9,ModelType.SVR,ScalerType.MinMaxScaler_,0.286888,1.307869
3,orange_std_col_name_ohv_type,model_4,ModelType.LINEAR_REGRESSION,ScalerType.Normalizer_,0.277361,1.325342
11,orange_std_col_name_ohv_type,model_12,ModelType.SVR,ScalerType.StandardScaler_,0.277135,1.325757
10,orange_std_col_name_ohv_type,model_11,ModelType.SVR,ScalerType.RobustScaler_,0.274043,1.331428
46,orange_std_col_name_no_type,model_47,ModelType.SVR,ScalerType.RobustScaler_,0.257834,1.361155
47,orange_std_col_name_no_type,model_48,ModelType.SVR,ScalerType.StandardScaler_,0.257263,1.362203
44,orange_std_col_name_no_type,model_45,ModelType.SVR,ScalerType.MinMaxScaler_,0.257247,1.362233
24,orange_std_col_name_ohv_type,model_25,ModelType.LIGHT_GBM,ScalerType.Raw_,0.254704,1.366896
25,orange_std_col_name_ohv_type,model_26,ModelType.LIGHT_GBM,ScalerType.MaxAbsScaler_,0.254704,1.366896
26,orange_std_col_name_ohv_type,model_27,ModelType.LIGHT_GBM,ScalerType.MinMaxScaler_,0.254704,1.366896
29,orange_std_col_name_ohv_type,model_30,ModelType.LIGHT_GBM,ScalerType.StandardScaler_,0.254547,1.367184
28,orange_std_col_name_ohv_type,model_29,ModelType.LIGHT_GBM,ScalerType.RobustScaler_,0.252976,1.370065
65,orange_std_col_name_no_type,model_66,ModelType.LIGHT_GBM,ScalerType.StandardScaler_,0.249343,1.376729
60,orange_std_col_name_no_type,model_61,ModelType.LIGHT_GBM,ScalerType.Raw_,0.247914,1.379349
61,orange_std_col_name_no_type,model_62,ModelType.LIGHT_GBM,ScalerType.MaxAbsScaler_,0.247914,1.379349
62,orange_std_col_name_no_type,model_63,ModelType.LIGHT_GBM,ScalerType.MinMaxScaler_,0.246239,1.382422
64,orange_std_col_name_no_type,model_65,ModelType.LIGHT_GBM,ScalerType.RobustScaler_,0.245454,1.383860
42,orange_std_col_name_no_type,model_43,ModelType.SVR,ScalerType.Raw_,0.230758,1.410813

In [231]:
result_frame.save_result("result_with_and_without_type.xlsx")

Error: CANNOT SAVE FILE.
A file with the same name already exists.
Set overwrite to True to overwrite existed file or change file name!

In [232]:
resnet34_dataframe = pd.read_excel("resnet34.xlsx", sheet_name=0)

In [233]:
resnet34_dataframe.head(20)

,name,resnet34_0,resnet34_1,resnet34_2,resnet34_3,resnet34_4,resnet34_5,resnet34_6,resnet34_7,resnet34_8,...,resnet34_502,resnet34_503,resnet34_504,resnet34_505,resnet34_506,resnet34_507,resnet34_508,resnet34_509,resnet34_510,resnet34_511
0,B12,0.156891,0.135281,0.208339,0.099949,0.606509,0.197465,0.146553,0.190174,0.245006,...,0.139282,0.367176,0.289474,0.158419,0.234442,0.056854,0.174647,0.184782,0.184333,0.193234
1,A2,0.188114,0.145693,0.204161,0.116336,0.527272,0.162754,0.228751,0.213932,0.222092,...,0.203496,0.386706,0.308793,0.202114,0.340296,0.080407,0.177876,0.139048,0.176140,0.208788
2,B8,0.173824,0.126600,0.278486,0.195133,0.489945,0.178314,0.230793,0.169339,0.302398,...,0.312228,0.415683,0.320124,0.285096,0.289027,0.085196,0.150526,0.240075,0.189648,0.225144
3,C26,0.144006,0.098398,0.209701,0.219367,0.548297,0.212151,0.215506,0.139116,0.276130,...,0.456208,0.386990,0.322745,0.301975,0.240051,0.098982,0.157585,0.218558,0.173098,0.214293
4,C25,0.184470,0.138784,0.198218,0.179938,0.495524,0.243386,0.167743,0.181745,0.312281,...,0.263740,0.334849,0.350409,0.259369,0.327031,0.074745,0.210896,0.169288,0.178689,0.188826
5,C29,0.164305,0.117410,0.224094,0.195399,0.499424,0.194218,0.168049,0.201609,0.289058,...,0.389878,0.330334,0.338783,0.196602,0.282925,0.059246,0.222848,0.165042,0.178285,0.202234
6,C5,0.143685,0.126570,0.210499,0.123183,0.616666,0.208228,0.166801,0.205509,0.288818,...,0.239749,0.346334,0.317840,0.185028,0.234601,0.038626,0.270342,0.174342,0.181206,0.200992
7,C13,0.205536,0.127269,0.201759,0.163079,0.510231,0.228772,0.177624,0.203865,0.253171,...,0.211222,0.376262,0.340810,0.213568,0.265492,0.071630,0.237319,0.171994,0.173610,0.218804
8,B5,0.153832,0.122729,0.139407,0.085343,0.816709,0.156730,0.140327,0.186524,0.202721,...,0.113562,0.403603,0.223014,0.132067,0.166786,0.027575,0.223429,0.147432,0.096567,0.150655
9,A30,0.215418,0.147183,0.180083,0.147134,0.577130,0.138726,0.201425,0.208275,0.270178,...,0.203487,0.372896,0.283954,0.217919,0.312682,0.074968,0.174066,0.203316,0.143396,0.187734
10,A23,0.189403,0.134697,0.215944,0.124875,0.698312,0.182691,0.178853,0.197323,0.334284,...,0.214559,0.353253,0.216897,0.187455,0.271512,0.055648,0.153011,0.186154,0.159058,0.166925
11,A1,0.140042,0.165523,0.206252,0.121150,0.611558,0.251576,0.166433,0.203572,0.322086,...,0.300284,0.347631,0.272064,0.255078,0.361392,0.055421,0.178558,0.166191,0.152494,0.186288
12,B19,0.158779,0.101413,0.225245,0.165941,0.513029,0.241046,0.275307,0.243193,0.261111,...,0.276559,0.356802,0.369319,0.258739,0.368664,0.092055,0.215394,0.175708,0.212473,0.181852
13,A6,0.186185,0.131568,0.221704,0.143298,0.502789,0.233800,0.192773,0.204025,0.336434,...,0.245277,0.392278,0.256769,0.232157,0.346607,0.089042,0.209656,0.171028,0.223739,0.175028
14,C21,0.137584,0.078854,0.179946,0.221235,0.714288,0.229675,0.238504,0.161553,0.188653,...,0.484481,0.412555,0.256013,0.341998,0.230242,0.074034,0.142078,0.212770,0.116109,0.183643
15,C11,0.159616,0.106050,0.198341,0.229992,0.722725,0.201477,0.167076,0.174012,0.199742,...,0.533628,0.311304,0.278644,0.270044,0.280871,0.059848,0.183215,0.160553,0.126889,0.189923
16,A28,0.181538,0.137838,0.231181,0.115356,0.619974,0.124694,0.197583,0.194874,0.278457,...,0.121956,0.411787,0.179225,0.187799,0.262426,0.085158,0.150844,0.163440,0.093691,0.235026
17,B1,0.173736,0.109098,0.247266,0.152932,0.530339,0.213446,0.227365,0.195830,0.344326,...,0.271359,0.430844,0.238465,0.222510,0.269881,0.082265,0.190827,0.219615,0.209497,0.221629
18,B30,0.149894,0.098103,0.237140,0.207692,0.521938,0.231929,0.259387,0.175386,0.310457,...,0.494860,0.374910,0.284494,0.296830,0.376539,0.085058,0.181300,0.186294,0.193640,0.203778
19,A5,0.170064,0.135311,0.230836,0.131059,0.544553,0.206472,0.196936,0.203002,0.357349,...,0.222409,0.384862,0.263854,0.226789,0.318150,0.061865,0.224037,0.219195,0.199771,0.213477

In [234]:
resnet34_dataframe["name"] = resnet34_dataframe["name"].astype(str)

In [235]:
list_dataset["orange_std_col_name_ohv_type"].get_dataframe()["name"].astype(str)

0      A1
1      A2
2      A3
3      A4
4      A5
     ...
76    C24
77    C25
78    C26
79    C28
80    C29
Name: name, Length: 81, dtype: object

In [236]:
orange_std_col_name_ohv_type_resnet34 = list_dataset["orange_std_col_name_ohv_type"].get_dataframe().merge(resnet34_dataframe, how="inner", on="name")

In [237]:
list_dataset["orange_std_col_name_ohv_type_resnet34"] = Dataset("orange_std_col_name_ohv_type_resnet34", orange_std_col_name_ohv_type_resnet34, ScalerType.Raw_)

In [248]:
list_dataset["orange_std_col_name_ohv_type_resnet34"].get_dataframe()

,A,B,C,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,...,resnet34_502,resnet34_503,resnet34_504,resnet34_505,resnet34_506,resnet34_507,resnet34_508,resnet34_509,resnet34_510,resnet34_511
0,True,False,False,A1,1.90,0.4000,255,257,262,10.9,...,0.300284,0.347631,0.272064,0.255078,0.361392,0.055421,0.178558,0.166191,0.152494,0.186288
1,True,False,False,A2,1.20,0.4000,325,288,278,9.8,...,0.203496,0.386706,0.308793,0.202114,0.340296,0.080407,0.177876,0.139048,0.176140,0.208788
2,True,False,False,A3,2.30,0.4000,185,235,237,11.0,...,0.139981,0.375960,0.257595,0.138591,0.206467,0.035784,0.203072,0.160679,0.104960,0.161872
3,True,False,False,A4,1.40,0.4128,203,245,245,9.0,...,0.162073,0.390348,0.323551,0.167936,0.239144,0.043754,0.196060,0.178945,0.150613,0.179786
4,True,False,False,A5,1.20,0.4000,229,253,249,10.9,...,0.222409,0.384862,0.263854,0.226789,0.318150,0.061865,0.224037,0.219195,0.199771,0.213477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,False,False,True,C24,1.60,0.4016,177,225,216,12.5,...,0.307272,0.344841,0.430694,0.305798,0.394726,0.072334,0.213526,0.195215,0.203654,0.183547
77,False,False,True,C25,1.60,0.4016,173,216,220,11.1,...,0.263740,0.334849,0.350409,0.259369,0.327031,0.074745,0.210896,0.169288,0.178689,0.188826
78,False,False,True,C26,0.95,0.4016,126,195,197,12.8,...,0.456208,0.386990,0.322745,0.301975,0.240051,0.098982,0.157585,0.218558,0.173098,0.214293
79,False,False,True,C28,1.70,0.4016,181,216,232,11.8,...,0.259605,0.352100,0.380756,0.279616,0.324362,0.088129,0.189930,0.184220,0.166675,0.205620
80,False,False,True,C29,1.35,0.4230,166,214,214,12.3,...,0.389878,0.330334,0.338783,0.196602,0.282925,0.059246,0.222848,0.165042,0.178285,0.202234

In [251]:
list_dataset["orange_std_col_name_ohv_type_resnet34"].get_dataframe().iloc[:,:20]

,A,B,C,name,v_naoh,c_naoh,mass,h_diameter,v_diameter,brix,ta,brix_ta,brm_ta,type,resnet34_0,resnet34_1,resnet34_2,resnet34_3,resnet34_4,resnet34_5
0,True,False,False,A1,1.90,0.4000,255,257,262,10.9,4.867141,2.239508,6.032859,A,0.140042,0.165523,0.206252,0.121150,0.611558,0.251576
1,True,False,False,A2,1.20,0.4000,325,288,278,9.8,3.073984,3.188045,6.726016,A,0.188114,0.145693,0.204161,0.116336,0.527272,0.162754
2,True,False,False,A3,2.30,0.4000,185,235,237,11.0,5.891803,1.867001,5.108197,A,0.170248,0.143860,0.155040,0.102307,0.824027,0.183213
3,True,False,False,A4,1.40,0.4128,203,245,245,9.0,3.701077,2.431725,5.298923,A,0.155330,0.146644,0.179467,0.128099,0.713304,0.201185
4,True,False,False,A5,1.20,0.4000,229,253,249,10.9,3.073984,3.545887,7.826016,A,0.170064,0.135311,0.230836,0.131059,0.544553,0.206472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,False,False,True,C24,1.60,0.4016,177,225,216,12.5,4.115040,3.037638,8.384960,C,0.184246,0.135858,0.192986,0.189380,0.459203,0.224478
77,False,False,True,C25,1.60,0.4016,173,216,220,11.1,4.115040,2.697422,6.984960,C,0.184470,0.138784,0.198218,0.179938,0.495524,0.243386
78,False,False,True,C26,0.95,0.4016,126,195,197,12.8,2.443305,5.238806,10.356695,C,0.144006,0.098398,0.209701,0.219367,0.548297,0.212151
79,False,False,True,C28,1.70,0.4016,181,216,232,11.8,4.372230,2.698852,7.427770,C,0.190891,0.143164,0.186174,0.153178,0.483471,0.237820
80,False,False,True,C29,1.35,0.4230,166,214,214,12.3,3.657080,3.363339,8.642920,C,0.164305,0.117410,0.224094,0.195399,0.499424,0.194218

In [285]:
number_of_cols = len(list_dataset["orange_std_col_name_ohv_type_resnet34"].get_dataframe().columns)
x_cols_resnet34 = list(list_dataset["orange_std_col_name_ohv_type_resnet34"].get_dataframe().iloc[:,np.r_[1,2,6:9,14:number_of_cols]].columns)
x_cols_resnet34

['B',
 'C',
 'mass',
 'h_diameter',
 'v_diameter',
 'resnet34_0',
 'resnet34_1',
 'resnet34_2',
 'resnet34_3',
 'resnet34_4',
 'resnet34_5',
 'resnet34_6',
 'resnet34_7',
 'resnet34_8',
 'resnet34_9',
 'resnet34_10',
 'resnet34_11',
 'resnet34_12',
 'resnet34_13',
 'resnet34_14',
 'resnet34_15',
 'resnet34_16',
 'resnet34_17',
 'resnet34_18',
 'resnet34_19',
 'resnet34_20',
 'resnet34_21',
 'resnet34_22',
 'resnet34_23',
 'resnet34_24',
 'resnet34_25',
 'resnet34_26',
 'resnet34_27',
 'resnet34_28',
 'resnet34_29',
 'resnet34_30',
 'resnet34_31',
 'resnet34_32',
 'resnet34_33',
 'resnet34_34',
 'resnet34_35',
 'resnet34_36',
 'resnet34_37',
 'resnet34_38',
 'resnet34_39',
 'resnet34_40',
 'resnet34_41',
 'resnet34_42',
 'resnet34_43',
 'resnet34_44',
 'resnet34_45',
 'resnet34_46',
 'resnet34_47',
 'resnet34_48',
 'resnet34_49',
 'resnet34_50',
 'resnet34_51',
 'resnet34_52',
 'resnet34_53',
 'resnet34_54',
 'resnet34_55',
 'resnet34_56',
 'resnet34_57',
 'resnet34_58',
 'resnet34_59',
 'resnet34_60',
 'resnet34_61',
 'resnet34_62',
 'resnet34_63',
 'resnet34_64',
 'resnet34_65',
 'resnet34_66',
 'resnet34_67',
 'resnet34_68',
 'resnet34_69',
 'resnet34_70',
 'resnet34_71',
 'resnet34_72',
 'resnet34_73',
 'resnet34_74',
 'resnet34_75',
 'resnet34_76',
 'resnet34_77',
 'resnet34_78',
 'resnet34_79',
 'resnet34_80',
 'resnet34_81',
 'resnet34_82',
 'resnet34_83',
 'resnet34_84',
 'resnet34_85',
 'resnet34_86',
 'resnet34_87',
 'resnet34_88',
 'resnet34_89',
 'resnet34_90',
 'resnet34_91',
 'resnet34_92',
 'resnet34_93',
 'resnet34_94',
 'resnet34_95',
 'resnet34_96',
 'resnet34_97',
 'resnet34_98',
 'resnet34_99',
 'resnet34_100',
 'resnet34_101',
 'resnet34_102',
 'resnet34_103',
 'resnet34_104',
 'resnet34_105',
 'resnet34_106',
 'resnet34_107',
 'resnet34_108',
 'resnet34_109',
 'resnet34_110',
 'resnet34_111',
 'resnet34_112',
 'resnet34_113',
 'resnet34_114',
 'resnet34_115',
 'resnet34_116',
 'resnet34_117',
 'resnet34_118',
 'resnet34_119',
 'resnet34_120',
 'resnet34_121',
 'resnet34_122',
 'resnet34_123',
 'resnet34_124',
 'resnet34_125',
 'resnet34_126',
 'resnet34_127',
 'resnet34_128',
 'resnet34_129',
 'resnet34_130',
 'resnet34_131',
 'resnet34_132',
 'resnet34_133',
 'resnet34_134',
 'resnet34_135',
 'resnet34_136',
 'resnet34_137',
 'resnet34_138',
 'resnet34_139',
 'resnet34_140',
 'resnet34_141',
 'resnet34_142',
 'resnet34_143',
 'resnet34_144',
 'resnet34_145',
 'resnet34_146',
 'resnet34_147',
 'resnet34_148',
 'resnet34_149',
 'resnet34_150',
 'resnet34_151',
 'resnet34_152',
 'resnet34_153',
 'resnet34_154',
 'resnet34_155',
 'resnet34_156',
 'resnet34_157',
 'resnet34_158',
 'resnet34_159',
 'resnet34_160',
 'resnet34_161',
 'resnet34_162',
 'resnet34_163',
 'resnet34_164',
 'resnet34_165',
 'resnet34_166',
 'resnet34_167',
 'resnet34_168',
 'resnet34_169',
 'resnet34_170',
 'resnet34_171',
 'resnet34_172',
 'resnet34_173',
 'resnet34_174',
 'resnet34_175',
 'resnet34_176',
 'resnet34_177',
 'resnet34_178',
 'resnet34_179',
 'resnet34_180',
 'resnet34_181',
 'resnet34_182',
 'resnet34_183',
 'resnet34_184',
 'resnet34_185',
 'resnet34_186',
 'resnet34_187',
 'resnet34_188',
 'resnet34_189',
 'resnet34_190',
 'resnet34_191',
 'resnet34_192',
 'resnet34_193',
 'resnet34_194',
 'resnet34_195',
 'resnet34_196',
 'resnet34_197',
 'resnet34_198',
 'resnet34_199',
 'resnet34_200',
 'resnet34_201',
 'resnet34_202',
 'resnet34_203',
 'resnet34_204',
 'resnet34_205',
 'resnet34_206',
 'resnet34_207',
 'resnet34_208',
 'resnet34_209',
 'resnet34_210',
 'resnet34_211',
 'resnet34_212',
 'resnet34_213',
 'resnet34_214',
 'resnet34_215',
 'resnet34_216',
 'resnet34_217',
 'resnet34_218',
 'resnet34_219',
 'resnet34_220',
 'resnet34_221',
 'resnet34_222',
 'resnet34_223',
 'resnet34_224',
 'resnet34_225',
 'resnet34_226',
 'resnet34_227',
 'resnet34_228',
 'resnet34_229',
 'resnet34_230',
 'resnet34_231',
 'resnet34_232',
 'resnet34_233',
 'resnet34_234',
 'resnet34_235',
 'resnet34_236',
 'resnet34_237',
 'resnet34_238',
 'resnet34_239',
 'resnet34_240',
 'resnet34_241',
 'resnet34_242',
 'resnet34_243',
 'resnet34_244',
 'resnet34_245',
 'resnet34_246',
 'resnet34_247',
 'resnet34_248',
 'resnet34_249',
 'resnet34_250',
 'resnet34_251',
 'resnet34_252',
 'resnet34_253',
 'resnet34_254',
 'resnet34_255',
 'resnet34_256',
 'resnet34_257',
 'resnet34_258',
 'resnet34_259',
 'resnet34_260',
 'resnet34_261',
 'resnet34_262',
 'resnet34_263',
 'resnet34_264',
 'resnet34_265',
 'resnet34_266',
 'resnet34_267',
 'resnet34_268',
 'resnet34_269',
 'resnet34_270',
 'resnet34_271',
 'resnet34_272',
 'resnet34_273',
 'resnet34_274',
 'resnet34_275',
 'resnet34_276',
 'resnet34_277',
 'resnet34_278',
 'resnet34_279',
 'resnet34_280',
 'resnet34_281',
 'resnet34_282',
 'resnet34_283',
 'resnet34_284',
 'resnet34_285',
 'resnet34_286',
 'resnet34_287',
 'resnet34_288',
 'resnet34_289',
 'resnet34_290',
 'resnet34_291',
 'resnet34_292',
 'resnet34_293',
 'resnet34_294',
 'resnet34_295',
 'resnet34_296',
 'resnet34_297',
 'resnet34_298',
 'resnet34_299',
 'resnet34_300',
 'resnet34_301',
 'resnet34_302',
 'resnet34_303',
 'resnet34_304',
 'resnet34_305',
 'resnet34_306',
 'resnet34_307',
 'resnet34_308',
 'resnet34_309',
 'resnet34_310',
 'resnet34_311',
 'resnet34_312',
 'resnet34_313',
 'resnet34_314',
 'resnet34_315',
 'resnet34_316',
 'resnet34_317',
 'resnet34_318',
 'resnet34_319',
 'resnet34_320',
 'resnet34_321',
 'resnet34_322',
 'resnet34_323',
 'resnet34_324',
 'resnet34_325',
 'resnet34_326',
 'resnet34_327',
 'resnet34_328',
 'resnet34_329',
 'resnet34_330',
 'resnet34_331',
 'resnet34_332',
 'resnet34_333',
 'resnet34_334',
 'resnet34_335',
 'resnet34_336',
 'resnet34_337',
 'resnet34_338',
 'resnet34_339',
 'resnet34_340',
 'resnet34_341',
 'resnet34_342',
 'resnet34_343',
 'resnet34_344',
 'resnet34_345',
 'resnet34_346',
 'resnet34_347',
 'resnet34_348',
 'resnet34_349',
 'resnet34_350',
 'resnet34_351',
 'resnet34_352',
 'resnet34_353',
 'resnet34_354',
 'resnet34_355',
 'resnet34_356',
 'resnet34_357',
 'resnet34_358',
 'resnet34_359',
 'resnet34_360',
 'resnet34_361',
 'resnet34_362',
 'resnet34_363',
 'resnet34_364',
 'resnet34_365',
 'resnet34_366',
 'resnet34_367',
 'resnet34_368',
 'resnet34_369',
 'resnet34_370',
 'resnet34_371',
 'resnet34_372',
 'resnet34_373',
 'resnet34_374',
 'resnet34_375',
 'resnet34_376',
 'resnet34_377',
 'resnet34_378',
 'resnet34_379',
 'resnet34_380',
 'resnet34_381',
 'resnet34_382',
 'resnet34_383',
 'resnet34_384',
 'resnet34_385',
 'resnet34_386',
 'resnet34_387',
 'resnet34_388',
 'resnet34_389',
 'resnet34_390',
 'resnet34_391',
 'resnet34_392',
 'resnet34_393',
 'resnet34_394',
 'resnet34_395',
 'resnet34_396',
 'resnet34_397',
 'resnet34_398',
 'resnet34_399',
 'resnet34_400',
 'resnet34_401',
 'resnet34_402',
 'resnet34_403',
 'resnet34_404',
 'resnet34_405',
 'resnet34_406',
 'resnet34_407',
 'resnet34_408',
 'resnet34_409',
 'resnet34_410',
 'resnet34_411',
 'resnet34_412',
 'resnet34_413',
 'resnet34_414',
 'resnet34_415',
 'resnet34_416',
 'resnet34_417',
 'resnet34_418',
 'resnet34_419',
 'resnet34_420',
 'resnet34_421',
 'resnet34_422',
 'resnet34_423',
 'resnet34_424',
 'resnet34_425',
 'resnet34_426',
 'resnet34_427',
 'resnet34_428',
 'resnet34_429',
 'resnet34_430',
 'resnet34_431',
 'resnet34_432',
 'resnet34_433',
 'resnet34_434',
 'resnet34_435',
 'resnet34_436',
 'resnet34_437',
 'resnet34_438',
 'resnet34_439',
 'resnet34_440',
 'resnet34_441',
 'resnet34_442',
 'resnet34_443',
 'resnet34_444',
 'resnet34_445',
 'resnet34_446',
 'resnet34_447',
 'resnet34_448',
 'resnet34_449',
 'resnet34_450',
 'resnet34_451',
 'resnet34_452',
 'resnet34_453',
 'resnet34_454',
 'resnet34_455',
 'resnet34_456',
 'resnet34_457',
 'resnet34_458',
 'resnet34_459',
 'resnet34_460',
 'resnet34_461',
 'resnet34_462',
 'resnet34_463',
 'resnet34_464',
 'resnet34_465',
 'resnet34_466',
 'resnet34_467',
 'resnet34_468',
 'resnet34_469',
 'resnet34_470',
 'resnet34_471',
 'resnet34_472',
 'resnet34_473',
 'resnet34_474',
 'resnet34_475',
 'resnet34_476',
 'resnet34_477',
 'resnet34_478',
 'resnet34_479',
 'resnet34_480',
 'resnet34_481',
 'resnet34_482',
 'resnet34_483',
 'resnet34_484',
 'resnet34_485',
 'resnet34_486',
 'resnet34_487',
 'resnet34_488',
 'resnet34_489',
 'resnet34_490',
 'resnet34_491',
 'resnet34_492',
 'resnet34_493',
 'resnet34_494',
 'resnet34_495',
 'resnet34_496',
 'resnet34_497',
 'resnet34_498',
 'resnet34_499',
 'resnet34_500',
 'resnet34_501',
 'resnet34_502',
 'resnet34_503',
 'resnet34_504',
 'resnet34_505',
 'resnet34_506',
 'resnet34_507',
 'resnet34_508',
 'resnet34_509',
 'resnet34_510',
 'resnet34_511']

In [286]:
y_cols_resnet34 = ["brix"]

#### Model train 3: brix $ \sim \beta_0 $ + $ \beta_1 $ * type_a + $ \beta_2 $ * type_b + $ \beta_3 $ * type_c + $ \beta_4 $ * h.diameter + $ \beta_5 $ * v.diameter + $ \beta_6 $ * mass + $ \beta_7 $ * resnet34_0 + ... + $ \beta_p $ * resnet34_p

In [ ]:
if TRAIN_MODEL_3:

    for dataset_name in std_dataset_names:
        for model_type in ModelType:
            for scaler_type in ScalerType:
                model = Model(
                    model_type=model_type,
                    model_name="model_" + str(model_count),
                    dataset_name="orange_std_col_name_ohv_type_resnet34",
                    x_cols=x_cols_resnet34,
                    y_cols=y_cols_resnet34,
                    dataset=list_dataset[dataset_name],
                    scaler_type=scaler_type,
                )

                result_frame.add_result(model.evaluate())
                model_count += 1

    result_frame.display_result()

In [301]:
model = Model(
    model_type=ModelType.LIGHT_GBM,
    model_name="model_" + str(model_count),
    dataset_name="orange_std_col_name_ohv_type_resnet34",
    x_cols=x_cols_resnet34,
    y_cols=y_cols_resnet34,
    dataset=list_dataset["orange_std_col_name_ohv_type_resnet34"],
    scaler_type=ScalerType.Normalizer_,
)

temp_result_frame = ResultFrame()
temp_result_frame.add_result(model.evaluate())
temp_result_frame.display_result()

100%|██████████████████████████████████████████████████████████████████████████████████| 81/81 [00:05<00:00, 14.63it/s]

,dataset_name,model_name,model_type,scaler_type,r2,mse
0,orange_std_col_name_ohv_type_resnet34,model_73,ModelType.LIGHT_GBM,ScalerType.Normalizer_,0.290612,1.301039